<footer class="footer container-flex">
  <img src="/assets/img/favicon.jpg" alt="Logo" class="avatar"/>
  <span>
    © {{dataGrey.anexo.anioInicio}} -
  </span>
  <aside>
    <a href="{{dataGrey.anexo.urlYouTube}}" target="_blanck" rel="noopener"><img src="/assets/img/youtube.svg" alt="Logo youtube">
    </a>
    <a href="{{dataGrey.anexo.urlTwitter}}"><img src="/assets/img/twitter.svg" alt="Logo twitter">
    </a>
    <a href="{{dataGrey.anexo.urlGitHub}}"><img src="/assets/img/github.svg" alt="Logo github">
    </a>
    <a href="{{dataGrey.anexo.urlLinkedIn}}"><img src="/assets/img/linkedin.svg" alt="Logo linkedin">
    </a>
    <a href="{{dataGrey.anexo.urlInstagram}}"><img src="/assets/img/instagram.svg" alt="Logo instagram">
    </a>
  </aside>
</footer>