<nav class="menu">
  <a href="/servicios">Servicios</a>
  <a href="/eventos">Eventos</a>
  <a href="/acerca">Acerca</a>
  <a href="/testimonios">Testimonios</a>
  <a href="/contacto">Contacto</a>
</nav>