---
layout: layout-base-no-hero.njk
title: Eventos IEADCR
description: Página de Eventos IEADCR Centenario
tags: ["pages"]
date: "2025-07-14"
meta_url: eventos
---

  <section class="event section full-lg-screen">
    <div class="container">
      <h2 class="section-title">Nuestros Eventos</h2>
      {% for evento in dataGrey.eventos %}
      <a href="#evento-{{ evento.id }}" class="event-card">
        <img src="/assets/img/evento-{{ evento.id }}.jpg" alt="Evento {{ evento.id }}"/>
        <aside class="event-card-info">
          <div>
            <h3>{{ evento.titulo }}</h3>
            <p>
              {{ evento.descripcion }}
            </p>
          </div>
        </aside>
      </a>
      {% endfor %}
    </div>
  </section>
  {% for evento in dataGrey.eventos %}
  <article class="modal" id="evento-{{ evento.id }}">
    <div class="modal-content">
      <a href="#cerrar" class="modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414
          l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"/>
        </svg>
      </a>
      <article class="event-modal">
        <img src="/assets/img/evento-{{ evento.id }}.jpg" alt="Evento {{ evento.id }}"/>
        <div class="event-info">
          <h3>{{ evento.titulo }}</h3>
          <p>
            {{ evento.descripcion }}
          </p>
          <aside class="event-details">
            <small>
              <b>LOCALIDAD:</b>
            </small>
            <small>{{ evento.localidad }}</small>
            <small>
              <b>FECHA:</b>
            </small>
            <small>{{ evento.fecha }}</small>
            <small>
              <b>TIPO:</b>
            </small>
            <small>{{ evento.tipo }}</small>
            <small>
              <b>ENLACE:</b>
            </small>
            <small>
              <a href="{{ evento.url }}" target="_blank" rel="noopener">{{ evento.url }}</a>
            </small>
          </aside>
        </div>
      </article>
    </div>
  </article>
{% endfor %}