---
layout: layout-base-no-hero.njk
title: Servicios IEADCR
description: Página de Servicios IEADCR Centenario
tags: ["pages"]
date: "2025-07-14"
meta_url: servicios
---

<section class="services section bg-gray-ligth">
  <div class="container full-lg-screen">
    <h2 class="section-title">¿En qué servimos?</h2>
    {% for servicio in dataGrey.servicios %}
      <article class="service-card">
        {{ servicio.svg | safe }}
        <h3>{{ servicio.titulo | safe }}</h3>
        <p>
          {{ servicio.descripcion | safe }}
        </p>
        {% if servicio.titulo == "Reuniones" %}

          <!-- Simple pop-up dialog box, containing a form -->
          <dialog id="favDialog">
            <form method="dialog">
              <details>
                <summary>Haz clic para ver la lista</summary>
                <ul>
                  {% for reunion in collections.reuniones | reverse %}
                  <li>
                    <a href="{{reunion.url}}">
                      {{ reunion.data.title | safe }}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </details>
              <menu>
                <button id="cancel" type="reset" class="btn">Cerrar</button>
              </menu>
            </form>
          </dialog>

          <menu>
            <button id="updateDetails" class="btn">Ver más</button>
          </menu>

        {% endif %}
        {% if servicio.titulo == "Bautismos" %}

          <!-- Simple pop-up dialog box, containing a form -->
          <dialog id="favDialogBautismo">
            <form method="dialog">
              <details>
                <summary>Haz clic para ver la lista</summary>
                <ul>
                  {% for bautismo in collections.bautismos | reverse %}
                  <li>
                    <a href="{{bautismo.url}}">
                      {{ bautismo.data.title | safe }}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </details>
              <menu>
                <button id="cancelBautismo" type="reset" class="btn">Cerrar</button>
              </menu>
            </form>
          </dialog>

          <menu>
            <button id="updateDetailsBautismo" class="btn">Ver más</button>
          </menu>

        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>